<div id="search", class="well" style="margin-top: 40px;">
	<h2>
		Search Result
	</h2>
	<% if @results %>
  	<% @results.each do |product| %>
  	<strong>Name:</strong><%= product.name %><br>
	    	<p>
    <strong>Code:</strong>
    <%= product.code %>
  </p>
  <p>
  	<strong>Catagory:</strong>
  	<%= product.Catagory %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

	<% end %>
	<% else %>
  		<tr>
		  Product not found!
	  	</tr>
	<% end %>
</div>